<!doctype html>
<html>
  <head>
		<%- include head.ejs %>
    <title>Forum</title>
  </head>
  <body>
    <%- include header.ejs %>
		<!-- <% for(var i=0; i<data.length; i++) { %>
			<div class='forum-card'>
				<p>
					<%= data[i].user_id %>
				</p>
				<p>
					<%= data[i].title %>
				</p>
				<p>
					<%= data[i].forum_body %>
				</p>
				<p>
					<%= data[i].content %>
				</p>
			</div>
    <% } %> -->
		<section class="container">
			<section class="row clearfix">
				<section class="col-md-12 column">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="panel panel-default title-panel">
								<% for(var i=0; i<data.length; i++) { %>
									<section class="row panel-body">
										<%= data[i].title %>
										<hr>
									</section>
								<% } %>
							</div>
						</div>
					</div>
				</section>
			</section>
		</section>
  </body>
</html>
