<!DOCTYPE html>
<html>
  <head>
		<title>Membership Directory</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
		<script type="text/javascript" src="ejs.js"></script>
  </head>
  <body>
		<%- include header.ejs %>
		<% for(var i=0; i<data.length; i++) { %>
			<div class='member-card'>
				<p>
					<%= data[i].picture %>
				</p>
				<p>
					<%= data[i].first_name %> <%= data[i].last_name %>
				</p>
				<p>
					<%= data[i].school %>
				</p>
			</div>
    <% } %>
  </body>
</html>
