<!doctype html>
<html>
  <head>
    <title>Membership Approval</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
		<div class="content">
			<% for(var i=0; i<data.length; i++) { %>
				<div class="w3-card-4">
					<!-- Need to add logic to replace the default image if actual image exists. <%= data[i].picture %> -->
					<img src="default_profile_img.png" alt="Profile">
					<div class="w3-container w3-left">
						<h3><%= data[i].first_name %> <%= data[i].last_name %></h3>
						<p><%= data[i].school %></p>
					</div>
				</div>
			<% } %>
		</div>
  </body>
</html>
