<!doctype html>
<html>
  <head>
    <title>Profile</title>
		<script type="text/javascript" src="ejs.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
		<div class="container">
			<div class="main-card">
				<form>
						<div class="form-group row">
							<label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputFirstName" name="givenName" value="<%= data.first_name %>">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputLastName" name="givenName" value="<%= data.last_name %>">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputEmail" name="givenName" value="<%= data.email %>">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputUsername" name="givenName" value="<%= data.username %>">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputSchool" class="col-sm-2 col-form-label">School</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputSchool" name="givenName" value="<%= data.school %>">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputBio" class="col-sm-2 col-form-label">Bio</label>
							<div class="col-sm-10">
								<textarea class="span6" rows="3" value="<%= data.bio %>" required></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputGrade" class="col-sm-2 col-form-label">Grade</label>
							<div class="col-sm-10">
								<select class="custom-select">
									<option value=GRADE_ENUM selected>Not Specified</option>
									<option value=GRADE_ENUM>Kindergarten</option>
									<option value=GRADE_ENUM>1st</option>
									<option value=GRADE_ENUM>2nd</option>
									<option value=GRADE_ENUM>3rd</option>
									<option value=GRADE_ENUM>4th</option>
									<option value=GRADE_ENUM>5th</option>
									<option value=GRADE_ENUM>6th</option>
									<option value=GRADE_ENUM>7th</option>
									<option value=GRADE_ENUM>8th</option>
									<option value=GRADE_ENUM>9th</option>
									<option value=GRADE_ENUM>10th</option>
									<option value=GRADE_ENUM>11th</option>
									<option value=GRADE_ENUM>12th</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputPic" class="col-sm-2 col-form-label">Profile Picture</label>
							<div class="col-sm-10">
								<label class="custom-file">
									<input type="file" id="file" class="custom-file-input">
									<span class="custom-file-control"></span>
								</label>
							</div>
						</div>
						<button class="btn btn-primary" type="button">
							Submit
						</button>
					</form>
				</div>
			</div>
  </body>
</html>
