<!doctype html>
<html>
	<body>
    <%- include header.ejs %>
		<div class="container">
			<div class="main-card">
				<form>
					<div class="form-group row">
						<label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputFirstName" name="givenName" value="<%= data[0].first_name %>" disabled>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputLastName" name="givenName" value="<%= data[0].last_name %>" disabled>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputEmail" name="givenName" value="<%= data[0].email %>" disabled>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputUsername" name="givenName" value="<%= data[0].username %>" disabled>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputSchool" class="col-sm-2 col-form-label">School</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputSchool" name="givenName" value="<%= data[0].school %>" disabled>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputBio" class="col-sm-2 col-form-label">Bio</label>
						<div class="col-sm-10">
							<textarea class="span6" rows="3" id="inputBio" required disabled><%= data[0].bio %></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="profileGrade" class="col-sm-2 col-form-label">Grade</label><br />
						<fieldset id="inputGrade">
							<table style="width:100%">
								<tr>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('K'))) { %>
										<td><input type="checkbox" id="Kindergarden" value='Kindergarden' checked />Kindergarden</td>
									<% } else { %>
										<td><input type="checkbox" id="Kindergarden" value='Kindergarden' />Kindergarden</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('1st'))) { %>
										<td><input type="checkbox" id="1st" value='1st' checked />1st</td>
									<% } else { %>
										<td><input type="checkbox" id="1st" value='1st' />1st</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('2nd'))) { %>
										<td><input type="checkbox" id="2nd" value='2nd' checked />2nd</td>
									<% } else { %>
										<td><input type="checkbox" id="2nd" value='2nd' />2nd</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('3rd'))) { %>
										<td><input type="checkbox" id="3rd" value='3rd' checked />3rd</td>
									<% } else { %>
										<td><input type="checkbox" id="3rd" value='3rd' />3rd</td>
									<% } %>
								</tr>
								<tr>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('4th'))) { %>
										<td><input type="checkbox" id="4th" value='4th' checked />4th</td>
									<% } else { %>
										<td><input type="checkbox" id="4th" value='4th' />4th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('5th'))) { %>
										<td><input type="checkbox" id="5th" value='5th' checked />5th</td>
									<% } else { %>
										<td><input type="checkbox" id="5th" value='5th' />5th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('6th'))) { %>
										<td><input type="checkbox" id="6th" value='6th' checked />6th</td>
									<% } else { %>
										<td><input type="checkbox" id="6th" value='6th' />6th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('7th'))) { %>
										<td><input type="checkbox" id="7th" value='7th' checked />7th</td>
									<% } else { %>
										<td><input type="checkbox" id="7th" value='7th' />7th</td>
									<% } %>
								</tr>
								<tr>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('8th'))) { %>
										<td><input type="checkbox" id="8th" value='8th' checked />8th</td>
									<% } else { %>
										<td><input type="checkbox" id="8th" value='8th' />8th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('9th'))) { %>
										<td><input type="checkbox" id="9th" value='9th' checked />9th</td>
									<% } else { %>
										<td><input type="checkbox" id="9th" value='9th' />9th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('10th'))) { %>
										<td><input type="checkbox" id="10th" value='10th' checked />10th</td>
									<% } else { %>
										<td><input type="checkbox" id="10th" value='10th' />10th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('11th'))) { %>
										<td><input type="checkbox" id="11th" value='11th' checked />11th</td>
									<% } else { %>
										<td><input type="checkbox" id="11th" value='11th' />11th</td>
									<% } %>
								</tr>
								<tr>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('12th'))) { %>
										<td><input type="checkbox" id="12th" value='12th' checked />12th</td>
									<% } else { %>
										<td><input type="checkbox" id="12th" value='12th' />12th</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('College Prep'))) { %>
										<td><input type="checkbox" id="CollegePrep" value='College Prep' checked />College Prep</td>
									<% } else { %>
										<td><input type="checkbox" id="CollegePrep" value='College Prep' />College Prep</td>
									<% } %>
									<% if((data[0].grade_level != null) && (data[0].grade_level.match('AP'))) { %>
										<td><input type="checkbox" id="AP" value='AP' checked />AP</td>
									<% } else { %>
										<td><input type="checkbox" id="AP" value='AP' />AP</td>
									<% } %>
								</tr>
							</table>
						<fieldset>
					</div>
					<div class="form-group row">
						<label for="inputPic" class="col-sm-2 col-form-label">Profile Picture</label>
						<div class="col-sm-10">
							<label class="custom-file">
								<input type="file" id="inputPic" class="custom-file-input" value="<%= data[0].picture %>" disabled>
								<span class="custom-file-control"></span>
							</label>
						</div>
					</div>
					<button class="btn btn-primary" type="button" id="update-btn">
						Update
					</button>
					<button class="btn btn-primary" type="button" id="reset-btn" style="display:none">
						Reset
					</button>
					<button class="btn btn-primary" type="button" id="save-btn" style="display:none">
						Save
					</button>
				</form>
			</div>
		</div>
		
		<script src="js/profile.js"></script>
	</body>
</html>
