<!doctype html>
<html>
  <head>
    <title>Software</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <%- include header.ejs %>
		<div class="container">
			<div id = "alert_placeholder"></div>
		</div>
		<% for(var i=0; i<data.length; i++) { %>
			<div class="w3-card-4 edit-software-card" data-id="<%= data[i].id %>">
				<% if(!data[i].picture){ %>
					<div class="card-image opt-image" style="background-color:<%= data[i].color %>">
					</div>
				<% } else { %>
					<div class="card-image opt-image">
						<img src=<%= data[i].picture %> />
					</div>
				<% } %>
				<div class="w3-container w3-left">
					<h3><%= data[i].name %></h3>
				</div>
				<% if(priv == 'Admin'){ %>
					<div class="decision-buttons">
						<button class="btn btn-danger remove-btn" type="button" data-id="<%= data[i].id %>">
							Remove
						</button>
					</div>
				<% } %>
			</div>
    <% } %>
		
		<% if(priv == 'Admin'){ %>
			<div class="w3-card-4 add-software-card">
				<div class="card-image">
					<img src="images/defaults/add_button.png" />
				</div>
			</div>
		<% } %>
		
		<%- include modals/software_edit_modal.ejs %>
		
		<%- include modals/software_add_modal.ejs %>
		
		<script src="js/software.js"></script>
  </body>
</html>
